/* stylelint-disable scss/no-global-function-names */
$colors: (
	// Primary
	blue-primary: #1d3155,
	blue-light: #425578,
	blue-dark: #0a1935,
	orange-primary: #fa650b,
	// Secondary
	background: #f5f2ef,
	text: #27344b,
	text-muted: rgba(179 179 178 / 85%),
	border: #dbd4ce,
	error: #dc3545,
	success: #28a745,
	// Grayscale
	black: #000,
	white: #fff,
	off-white: #f8f8f7,
	gray: #e5E0dc,
);

// Color generation
@function color($color) {
	@if map-has-key($colors, $color) {
		@return map-get($colors, $color);
	}

	@return null;
}

@each $name, $value in $colors {
	.text--#{$name}

 {
		color: $value !important;

		> * {
			color: inherit;
		}
	}

	.bg--#{$name}

 {
		background-color: $value !important;
	}
}
