.section-dashboard {
  .dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .vacature-item {
      margin-top: unset;
    }
  }

  .dashboard-events {
    margin-top: 4rem;

    .heading {
      margin-bottom: 2rem;
    }
  }
}
