section.logo-slider {
	margin-top: calc(var(--section-padding) / 2);
	margin-bottom: calc(var(--section-padding) / 2);
	padding-bottom: calc(var(--section-padding) / 2);
  max-width: 100vw;
  overflow-x: hidden;
	
  .heading-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: clamp(20px, 3rem, 72px);

		.heading {
			width: calc(100% / 12 * 5);
		}
	}

  .logo-slider-container {
    .logo-slider-container-inner {
      display: flex;
      align-items: center;
      width: calc(10 * 100vw);

      @each $breakpoint, $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
            margin-left: calc(-1 * (100vw - $container-max-width) / 2);
        }
      }

      .logo-slider-item {
        width: 100%;
        max-width: 385px;
        max-height: 270px;
        aspect-ratio: 77 / 54;
        background-color: color(white);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.5rem 3.5rem;
        margin: 0.5rem;
        border-radius: 10px;
        position: relative;
				transition: box-shadow var(--speed-fast) var(--cubic-bezier-2);
				will-change: transform;

        img {
          position: relative;
          object-fit: contain;
          max-width: 250px;
          max-height: 150px;
        }

				&:hover {
					box-shadow: 0 0 35px rgb(0 0 0 / 10%);
				}

        @include media-breakpoint-down(md) {
          max-width: 200px;
          max-height: 140px;
          padding: 2rem;

          img {
            max-width: 150px;
            max-height: 80px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 0;
    
    .heading-container {
      flex-direction: column;
      align-items: unset;

      .heading {
        width: 100%;
      }
    }
  }
}
