.section-single-evenement {
  position: relative;

  .row {
    justify-content: space-between;
  }

  .sidebar-container {
    position: relative;
  }
  
  .sidebar-inner {
    position: sticky;
    top: calc(var(--height-navbar) + 1rem);
    background-color: rgba(color(border), .5); /* stylelint-disable-line color-function-notation */
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-size: 16px;

    .event-meta-item {
      padding-bottom: 1rem;
      
      &:not(:last-child) {
        margin-bottom: 1em;
        border-bottom: 1px solid color(border);
      }

      .heading {
        font-weight: 600;
      }

      .content {
        margin-top: 0;
      }
    }

    button {
      width: 100%;
    }

    form {
      .terms-text {
        text-align: center;
        margin-top: 0.5rem;

        a {
          font-weight: 400;
        }
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }
  }

  .sidebar-partnerkantoren {
    display: flex;
    align-items: center;
    gap: 5px;

    .kantoor-item {
      margin-top: 0;
      transition: opacity var(--speed-fast) var(--cubic-bezier-2);

      .kantoor-logo {
        width: 60px;
        aspect-ratio: 77 / 54;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color(white);
        padding: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
			
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
