.section-single-vacature {
  .sidebar {
    position: relative;

    .sidebar-inner {
      position: sticky;
      top: calc(var(--height-navbar) + 1rem);
    }

    .image {
      background-color: color(white);
      border-radius: 10px;
      padding: 2rem 3rem;
      aspect-ratio: 4 / 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .meta-item {
      margin-top: 1rem;
      opacity: 0.75;
      padding-left: 1rem;

      &.btn {
        --height-btn: 60px;

        margin-top: 2rem;
        width: 100%;

        &:hover {
          opacity: 1;
        }
      }

      i {
        margin-right: 5px;
        opacity: 0.75;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .content {
			order: 1;
		}

		.sidebar {
      margin-top: 2rem;
			order: 2;
    }
  }
}
