section.text-image {
	margin: var(--section-padding) 0;

	.row {
		align-items: center;
	}

  [class*='col-'] {
    order: 0;
  }

	[class*='text-'] {
    h1, h2, h3, h4, h5, h6 {
			margin-bottom: 1rem;
		}
  }
	
  .text-left {
		padding-right: calc(100% / 12);
	}

	.text-right {
		order: 1;
		padding-left: calc(100% / 12);
	}

	img {
		border-radius: 5px;
	}

	@include media-breakpoint-down(md) {
		--section-padding: 100px;

		.row {
			flex-direction: column;
		}

		[class*='col-'] {
			order: 0;
		}

		img {
			margin-top: 2rem;
		}

		.text-left,
		.text-right {
			padding: 0 calc(var(--width-grid-gutter) / 2);
		}
	}
}
