.section-vacatures-list {
	.heading {
		margin-bottom: calc(var(--width-grid-gutter) * 2);
	}

	.button-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: calc(var(--width-grid-gutter) * 2);
	}
}