@font-face {
	font-display: swap;
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 400;
	src: url("#{$font-path}/helvetica-neue-roman.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 600;
	src: url("#{$font-path}/helvetica-neue-bold.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Albra;
	font-style: normal;
	font-weight: 400;
	src: url("#{$font-path}/albra-text-light.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: Albra;
	font-style: normal;
	font-weight: 600;
	src: url("#{$font-path}/albra-medium.woff2") format("woff2");
}
