html {
	font-size: var(--font-size-base);
}

body {
	font: {
		family: $font-family-base;
		weight: 400;
		size: var(--font-size-base);
	}

	color: color(text);
	line-height: var(--line-height-base);

	b,
	strong {
		font-weight: 600;
	}
}

body,
button,
input,
select,
textarea {
	text-rendering: optimizelegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga", "kern";
}

// Headings
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	font-weight: 400;
	font-family: $font-family-heading;
}

h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	line-height: 1.4;
}

h1,
.h1 {
	font-size: 3.2rem;
	line-height: 1.3;
}

h2,
.h2 {
	font-size: 2.75rem;

	@include media-breakpoint-down(md) {
		font-size: 2.25rem;
	}
}

h3,
.h3 {
	font-size: 2rem;
	line-height: 1.5;

	@include media-breakpoint-down(md) {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: 1.3rem;
}

h5,
.h5 {
	// h5
}

h6,
.h6 {
	// h6
}

// Textual
main {
	p,
	ul,
	ol,
	table {
		&:not([class*="-none"]) {
			+ *:not(.btn) {
				margin-top: 15px;

				@include media-breakpoint-up(xl) {
					margin-top: 20px;
				}
			}
		}
	}
}

// Anchors
p a,
small a,
td a,
ul li a,
ol li a,
.link {
	/* stylelint-disable-next-line no-descending-specificity */
	&:not(.btn) {
		font-weight: 700;
		text-decoration: underline;
	}
}

picture,
figure {
	figcaption {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 0;
			color: inherit;
		}
	}
}
