.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--height-btn);
  padding: var(--padding-button);
  font: {
    family: $font-family-base;
    weight: 400;
    size: var(--font-size-base);
  }

  border-radius: 100%;
  line-height: 1;
  color: color(milk);
  white-space: nowrap;
  position: relative;
  transition: all var(--speed-default) var(--cubic-bezier);

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &.btn-ir {
    i {
      margin-left: 15px;
      border: 1px solid black;
      padding: 10px;
      border-radius: 100%;
    }
  }

  &.btn-il {
    i {
      margin-right: 15px;
    }
  }

  &.btn-ir,
  &.btn-il {
    transition: all var(--speed-default) var(--cubic-bezier);

    &:not(:hover) {
      opacity: .6;

      i {
        opacity: .5;
      }
    }
  }

  &.btn-io {
    width: var(--height-btn);
    border-radius: 100%;

    .icon-chevron-right {
      padding-left: 2px;
    }

    .icon-chevron-left {
      padding-right: 2px;
    }
  }

  @each $name, $value in $colors {
    &.btn--#{$name} {
      background-color: color($name);
      color: color(white);
    }
  }
}
