.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--height-btn);
  padding: var(--padding-button);
  font: {
    family: $font-family-base;
    weight: 400;
    size: var(--font-size-base);
  }

  border-radius: 100px;
  line-height: 1;
  color: color(milk);
  white-space: nowrap;
  position: relative;
  transition: all var(--speed-default) var(--cubic-bezier);

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &[class*="outline"] {
    border-width: 1px;
  }

  &.btn-ir {
    i {
      margin-left: 15px;
      border: 1px solid color(text);
      padding: 10px;
      border-radius: 100%;
    }
  }

  &.btn-il {
    i {
      margin-right: 15px;
    }
  }

  &.btn-ir,
  &.btn-il {
    transition: all var(--speed-default) var(--cubic-bezier);
    padding: unset;

    &:not(:hover) {
      opacity: 0.6;

      i {
        opacity: 0.5;
      }
    }
  }

  &.btn-io {
    --padding-button: 0;
    --height-btn: 45px;

    width: var(--height-btn);
    height: var(--height-btn);
    border: 1px solid color(text);
    transition: all var(--speed-default) var(--cubic-bezier);

    &:not(:hover) {
      opacity: 0.5;
    }
  }

  @each $name, $value in $colors {
    &.btn--#{$name} {
      background-color: color($name);
      color: color(white);
    }

    &.btn--outline-#{$name} {
      border-color: color($name);

      &:hover {
        background-color: color($name);
      }
    }
  }

  @include media-breakpoint-down(md) {
    &.btn-ir {
      padding: 0;
      justify-content: start;
      margin-top: 1rem;

      i {
        padding: 10px 8px;
      }
    }
  }
}
