.google-map {
	width: 100%;
	aspect-ratio: 4 / 3;
	border: #ccc solid 1px;
	margin: 20px 0;
	pointer-events: none;

}

// Fixes potential theme css conflict.
.google-map img {
	max-width: inherit !important;
}